$primary-color: hsl(185, 41%, 84%);
$header-color: hsl(183, 100%, 15%);
$calculator_header: hsl(189, 41%, 97%);
$calculator-color: hsl(0, 0%, 100%);
$input-color: hsl(189, 41%, 97%);
$input-text-color: hsl(184, 14%, 56%);
$button-color: hsl(183, 100%, 15%);
$button-color-two: hsl(172, 67%, 45%);
$warning-text: rgb(240, 59, 59);
$mobile-desing-one: 1247px;
$mobile-desing-two: 700px;
$mobile-desing-three: 500px;
$font-size: (
  "little-size": 12px,
  "normal-size": 17px,
  "input-size": 24px,
  "big-size": 28px,
);
$font-weight: (
  "light": 400,
  "normal": 500,
  "bold": 700,
);
